body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fccf00;
  color: black;
  max-width: 900px;
  margin: 0 auto;
}

#root {
  background-color: #467917;
  padding: 60px;
  border-radius: 20px;
  height: 100%;
  margin-top: 100px;
}

.logo {
  display: block;
  margin: 0 auto;
}

h1 {
  margin-top: 50px;
}

p {
  font-size: 22px;
}

#test{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

#alert-button{
  position: fixed;
  background-color: red;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#change-bg{
  position: fixed;
  background-color: red;
  bottom: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#reset-bt{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}